/* Navigation Bar */
nav {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
  line-height: 50px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ccc;
}

/* Slide Gallery */
/* ... (Previous CSS rules) ... */

/* Slide Gallery */
.slideshow-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: calc(100vh - 50px); /* Adjust slide container height to fit the screen */
  margin: 0 auto;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

/* Fading Animation */
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Delay each slide animation to create smooth transition */
.slide:nth-child(2) {
  animation: fadeInOut 6s infinite 2s;
}

.slide:nth-child(3) {
  animation: fadeInOut 6s infinite 4s;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.1);
}



.card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.1);
}

/* Blurred Background */
.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FF6F61;
  opacity: 0.5;
  z-index: -1;
}

/* Footer */
footer {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: 50px;
  text-align: center;
  line-height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Animation */
@keyframes slideAnimation {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes openingAnimation {
  0% { background-color: #333; }
  100% { background-color: #0f0f1a; }
}

/* Additional Styling */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  animation: openingAnimation 2s forwards;
}
