/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #040404;
}

/* Navigation Bar */
nav {
  background-color: #333;
  color: #fff;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
  line-height: 50px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ccc;
}

/* Slide Gallery */
.slideshow-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: calc(100vh - 50px); /* Adjust slide container height to fit the screen */
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(249, 246, 246, 0.2);
  border: 2px solid #ddd;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slide.active {
  opacity: 1;
  transform: translateX(0%);
}

.slide.inactive-left {
  opacity: 0;
  transform: translateX(-100%);
}

.slide.inactive-right {
  opacity: 0;
  transform: translateX(100%);
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid #ddd;
}

.card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.1);
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  height: 50px;
  text-align: center;
  line-height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

/* Additional Styling */
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #555;
}

/* Animation */
@keyframes slideAnimation {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes openingAnimation {
  0% { background-color: #333; }
  100% { background-color: #0f0f1a; }
}
